.container {
    margin-top: 20px;
}

a {
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: white
}

a:hover {
    color: black;
    background-color: white;
    border: 2px solid;
}

.table-btn{
    border: none;
    background-color: white;
    font-weight: 800;
}

.textbox{
    display:inline-flex;
    position: absolute;
    left: 30%;
}

.pagination{
    position: absolute;
    left: 40%;
}

.page-index{
    color: black;
    font-size: large;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.page-index:focus{
    color: white;
    background-color: black;
    border: 2px solid black;
}